################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/bin/Release/app.publish
/bin/Release
/.vs/FFXiVJoy/v14
/app.config
/obj/Release
/packages
/Module/oXInput.vb
